
<div class="home-banner-reviews-wrapper">
  <ul class="home-banner-reviews list-unstyled">

    <li class="banner-review banner-review-0" style="background-image: url('/static/africaone/content-images/endiro.jpg');">
      <div class="banner-gradient"></div>
      <div class="banner-review-desc">
        <div class="banner-review-intro">
          <h2>Kampala awaits your review</h2>
          <div class="txt">Have you been to <span class="name">Endiro Cafe?</span> What did you think of it?</div>
        </div>
        <div class="banner-review-start">
          <div class="business-img"></div>
          <div class="business-rating">
            <h2>Endiro Cafe</h2>
            <div class="write-review-wrapper  white-bg flush-left">
              <div class="review-stars blue">
                <div class="rating"></div>
              </div>
              <div class="txt">Choose Rating</div>
            </div>
            <div class="textarea-wrapper">
              <textarea class="review-textarea" placeholder="Start your review here ..."></textarea>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="banner-review banner-review-1" style="background-image: url('/static/africaone/content-images/javas.jpg');">
      <div class="banner-gradient"></div>
      <div class="banner-review-desc">
        <div class="banner-review-intro">
          <h2>Kampala awaits your review</h2>
          <div class="txt">Have you been to <span class="name">Cafe Javas?</span> What did you think of it?</div>
        </div>
        <div class="banner-review-start">
          <div class="business-img"></div>
          <div class="business-rating">
            <h2>Cafe Javas</h2>
            <div class="write-review-wrapper  white-bg flush-left">
              <div class="review-stars blue">
                <div class="rating"></div>
              </div>
              <div class="txt">Choose Rating</div>
            </div>
            <div class="textarea-wrapper">
              <textarea class="review-textarea" placeholder="Start your review here ..."></textarea>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="banner-review banner-review-2" style="background-image: url('/static/africaone/content-images/gaming.jpg');">
      <div class="banner-gradient"></div>
      <div class="banner-review-desc">
        <div class="banner-review-intro">
          <h2>Kampala awaits your review</h2>
          <div class="txt">Have you been to <span class="name">Game City?</span> What did you think of it?</div>
        </div>
        <div class="banner-review-start">
          <div class="business-img"></div>
          <div class="business-rating">
            <h2>Game City</h2>
            <div class="write-review-wrapper  white-bg flush-left">
              <div class="review-stars blue">
                <div class="rating"></div>
              </div>
              <div class="txt">Choose Rating</div>
            </div>
            <div class="textarea-wrapper">
              <textarea class="review-textarea" placeholder="Start your review here ..."></textarea>
            </div>
          </div>
        </div>
      </div>
    </li>

  </ul>
  <div class="search-intro">Search and review businesses near you and around Africa. Start your review today.</div>
</div>
