{% extends 'core/base.html'%}
{% block main %}
<div class="row">

        <!--photo carausels -->
        	<!-- thumb navigation carousel -->
    <div class="col-md-12 hidden-sm hidden-xs" id="slider-thumbs">

            <!-- thumb navigation carousel items -->
          <ul class="list-inline">
               <li> <a id="carousel-selector-{{business_photo.id}}">
                  <img src="{{business_photo.photo.url}}" class="img-responsive">
               </a></li>
               <li> <a id="carousel-selector-{2">
                  <img src="{{business_photo.photo.url}}" class="img-responsive">
               </a></li>
          </ul>

    </div>

</div>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <!-- Business description -->
            <div class="col-md-4">
                {{business.name}}
            <br>
            <input class="rating" value="{{business.get_avg_rating}}" data-disabled="true" data-size="xs" />  <span>{{business.get_no_reviews}} reviews</span>
            </div>
            <div class="col-md-6">
                <p>{{business.address}}</p>
                <p>{{business.city}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{business.description}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Reviews</h3>
            </div>
            <div class="panel-body">
                <form method="get">
                   <h4>Sort by <input type="checkbox" name="sort" value="date"> Date <input type="checkbox" name="sort" value="create_date"> Rating</h4>
                    <input type="submit" value="Sort">
                </form>
                <br>
                 Start your review of {{business.name}}
                <input type="button" class="rating btn-primary" data-size="xs" step="1" min="1" max="5" alt="Submit your reviews"/>
                <br>
                {% for review in reviews %}
                {% include 'core/review_detail_snippet.html' %}
                {% for photo in review.businesssphoto_set.all %}
                <img src="{{photo.url}}" height="50" width="50">
                {% endfor %}
                <p>Was this review ...? <input type="button" value="Helpful"/>  <input type="button" value="Funny"/> <input type="button" value="Cool"/></p>
                <div class="space-6"></div>
                {% endfor %}
            </div>
        </div>


    </div>
    <div class="col-md-4">
        <div class="row">
            <input class="rating"  data-size="xs" /> Click stars to rate
            <div class="space-3"/>
            <a href="{% url 'core:review_add' business_pk=business.pk %}" class="btn-sm btn-primary">Write a Review</a>
            <a href="{%url 'core:add_photo' pk=business.pk %}" class="btn-sm btn-primary">Add a photo</a>
            <a href="#" class="btn-sm btn-primary">Share</a>

        </div>
        <br>
        <div class="panel panel-default">
            {{business.location}}
        </div>
        <br>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Business Features</h3>
                </div>
                <div class="panel-body">
                        {% for feature in business.features.all %}
                           {{feature}}
                        {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Check out similar businesses</h3>
                </div>
                <div class="panel-body">
                    {% for business in business_set %}
                       <a href="{% url 'core:business_detail' pk=business.pk %}"> {{business.name}} </a>
                       <input class="rating" disabled="True" value="{{business.get_avg_reviews}}" data-size="xs"/>
                       {{business.get_no_reviews}} reviews
                       <p>{{business.description}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}