{% extends 'core/base.html' %}
{% block main %}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Write a Review</h3>
            </div>
            <div class="panel-body">
            <form action="{{action_url}}" method="post">
                {%csrf_token%}
              {% include "core/review_snippet.html" %}
              <input type="submit" value="Post"/>
            </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Other Reviews for {{business.name}}</h3>
            </div>
            <div class="panel-body">
                {% for review in reviews %}
                {% include 'core/review_detail_snippet.html' %}
                <div class="space-6"></div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock %}