
$global-sprite: sprite-map("globals/*.png");
$abmak-blue: #004b63;
$abmak-red: #ce3229;

* {
  @include box-sizing('border-box');
}

body {
  margin: 0;
  background: #f5f5f5;
  font-size: $font-size-base;
  line-height: 1.7em;
  color: #333;
  font-family: "Open Sans", "Helvetica Neue", "Arial", sans-serif;
}
