<form class="find-companies-form">
  <div class="form-wrapper clearfix">
    <div class="form-item form-item-business"><div class="item-wrapper">
      <label>Find:</label>
      <input type="text" class="form-text" name="business-name" />
    </div></div>
    <div class="form-item form-item-location"><div class="item-wrapper">
      <label>Near:</label>
      <input type="text" class="form-text" name="location" />
    </div></div>
    <div class="form-actions form-item"><div class="item-wrapper">
      <input type="submit" value="Go" class="form-submit" />
    </div></div>
  </div>
</form>
