<h2>Popular Events</h2>
<ul class="sidebar-events-news-list sidebar-events-list list-unstyled">
  <li class="with-img">
    <a href="javascript:;">
      <img />
      <span class="details">
        <span class="title">Event Name sod xic xocn oinsoinf sodnfo snfdo ns</span>
        <span class="date">Wed 04 Jun 2016 at 4:30pm</span>
      </span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <span class="details">
        <span class="title">Event Name sod xic xocn oinsoinf sodnfo snfdo ns</span>
        <span class="date">Wed 04 Jun 2016 at 4:30pm</span>
      </span>
    </a>
  </li>
  <li class="with-img">
    <a href="javascript:;">
      <img />
      <span class="details">
        <span class="title">Event Name sod xic xocn oinsoinf sodnfo snfdo ns</span>
        <span class="date">Wed 04 Jun 2016 at 4:30pm</span>
      </span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <span class="details">
        <span class="title">Event Name sod xic xocn oinsoinf sodnfo snfdo ns</span>
        <span class="date">Wed 04 Jun 2016 at 4:30pm</span>
      </span>
    </a>
  </li>
</ul>
<div class="all-list-btn">
  <a href="javascript:;" class="btn">View all Events</a>
</div>
