<div class="business-full-detail-wrapper" id="business-full-detail-{{ business.pk }}">

  <div class="btns-row row">
    <div class="business-btns btn-group col-sm-10">
      <a class="btn btn-icon btn-default" href="javascript:;"><i class="fa fa-comment"></i> See Reviews</a>
      <a class="btn btn-icon btn-default" href="javascript:;"><i class="fa fa-eye"></i> View on website</a>
      <a class="btn btn-icon btn-default" href="javascript:;"><i class="fa fa-edit"></i> Edit</a>
      <a class="btn btn-icon btn-danger" href="javascript:;"><i class="fa fa-trash"></i> Delete</a>
    </div>
    <div class="close-btn-col col-sm-2">
      <a class="btn btn-icon btn-default pull-right" href="javascript:;"><i class="fa fa-close"></i> Close</a>
    </div>
  </div>

  <div class="row title-pic-row">
    <div class="img-col col-md-3">
      {{ business.img }}
    </div>
    <div class="business-details-col col-md-9">
      <h2>Business Name</h2>
      <div class="no-reviews">198 reviews</div>
      <div class="owner">Owned by: Yusuf Boy</div>
      <div class="created">Created on: 18 Jan 2015 08:00hrs</div>
      <div class="updated">Last updated on: 19 Jan 2016 09:00 hrs</div>
    </div>
  </div>

  <div class="more-details">
    <div class="address row">
      <div class="col-md-1">Address:</div>
      <div class="value col-md-11">Plot 15, Kingo Road,<br>Kampala</div>
    </div>
    <div class="tel row">
      <div class="col-md-1">Tel:</div>
      <div class="value col-md-11">+256 712 345 678</div>
    </div>
    <div class="email row">
      <div class="col-md-1">Email:</div>
      <div class="value col-md-11">lsdfoisndf@sdoifn.con</div>
    </div>
  </div>

  <div class="body">
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus.</p>
    <p>Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
  </div>

</div>