
.sidebar-events-news-list {
  li {
    border-bottom: solid 1px #f1f1f1;
  }
  a, img, span {
    display: block;
  }
  a {
    position: relative;
    padding: 20px 30px;
    img {
      position: absolute;
      background: #ccc;
      width: 80px; height: auto;
      min-height: 40px;
      left: 30px; top: 20px;
    }
    .title {
      @include ems_font_size(15px, $font-size-base);
    }
    .date {
      @include ems_font_size(11px, $font-size-base);
      color: #868686;
      @include transition(color .3s ease-in);
    }
    &:hover {
      background-color: $green;
      color: #fff;
      .date {
        color: #fff;
      }
    }
  }
  .with-img {
    a {
      padding-left: 140px;
    }
  }
}